<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Barbería Tokio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trabaja con nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Cortes</a></li>
              <li><a class="dropdown-item" href="#">Asesoria de imagen</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cepillados</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Redes sociales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contactanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div style="height: 100px;">
        <div class="d-flex justify-content-center">
            <h1 class="mt-5">Bienvenido puto</h1>
        </div>
    </div>
  </div>